[Unit]
Description=rtsa: rpi-temp-snmp-alarm
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/sbin
ExecStart=/usr/bin/python3 -u /usr/local/sbin/rtsa_py3.py >> /var/log/rtsa/rtsa.log 2>&1
User=root
Group=root
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

